<h1>About This Site</h1>

<p class="lead">This site aims to provide free resources to anyone in need.</p>

<p class="lead">Get involved by being a Gifter and give resources and help in the following categories: </p>
<ul class="about">
    <li>Food (Meal)
    </li>

    <li>Food (Groceries)
    </li>

    <li>Haircut
    </li>

    <li>Care Pack Item (see <%= link_to "Care Pack", page_path('carepack') %>)
    </li>

    <li>Job Opportunity
    </li>

    <li>Clothing
    </li>
    
    <li>Miscellaneous
    </li>

</ul>