<h1>Care Pack</h1>

<p class="lead">We take inspiration from the Many Rooms Initiative and Use the Care Pack list provided by them.</p>


<p class="lead font-weight-bold">What is a Care Pack?</p>
<p class="lead">It is a gender-neutral pack that contains essential hygiene items (e.g hand sanitiser and tissues) that make a difference in the lives of the vulnerable and in need during this time.</p>

<%= image_tag "carepack", class: "carepack-image"%>
<p class="lead"><%= link_to "Many Rooms Care Pack Initiative", "https://manyrooms.org.au/room/care-pack-initiative/"%></p>