<h1>How To Use</h1>



<p>If you are a Giftee: </p>
<p>Search for a Gift using the search bar and click to redeem your Gift.
Each Giftee can redeem 3 Gifts every 24 hours. </p>

<p>If you are a Gifter:</p>
<p>Click 'Contribute a Gift!'' in the home page and fill up the form with the details. </p>
